# Gradle
.gradle/
build/
out/

# Java
*.class
*.log

# IDEs and editors
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db
build/tmp/compileJava/previous-compilation-data.bin
/build
*.bin
